
<html>
    <body>
        {% if name %}
        <h1>Hello {{name}}</h1>

        {% else %}
        <h1>hello world</h1>

        {% endif %}

        
        <!-- {% for product in products %}
            <ul>
                <li>{{product.title}}</li>
            </ul>
        {% endfor %}

        {% for customer in customers %}
            <ul>
                <li>{{customer.first_name}}</li>
            </ul>
        {% endfor %}

        {% for order in orders %}
            <ul>
                <li>{{order.customer}}</li>
            </ul>
        {% endfor %}
            <h1>ordered product</h1>
        {% for item in ordered_products %}
            <ul>
                <li>{{item.id}} - {{item.title}} </li>
            </ul>
        {% endfor %} -->

        <h1>Select related and prefetch related</h1>
            
            {% for product in products %}
                <ul>
                    <li>{{product.title}} - {{product.collection.title}}</li>
                </ul>
            {% endfor %}
        
            <h1>Last 5 Orders with Items</h1>
            
            {% for order in orders %}
                <ul>
                    <li>
                        <strong>Order #{{order.id}}</strong> placed by {{order.customer.first_name}} {{order.customer.last_name}}
                        <ul>
                            {% for item in order.orderitem_set.all %}
                                <li>{{item.product.title}} (Quantity: {{item.quantity}})</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}

            <h1>Total product</h1>
                {{result}}
    </body>
</html>
